<html ng-app="SampleApp">
<head>
<title>Angular-location example</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
<script src="nglocationbind.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css"/>

<script>
angular.module('SampleApp', ['ngLocationBind'])
.controller('SampleCtrl', function($scope,$locationbind) {
        $locationbind($scope,['greeting','num','some_obj.list[0].val']);
        $scope.greeting = "Welcome to my site!";
        $scope.num = 5;
        $scope.some_obj = { list : [{val:'coolbeans'},2,3] };
});
</script>

</head>

<body ng-controller="SampleCtrl">
<div class="container">
<div class="row">
<div class="col-md-12">

<h2>Example usage of Locationbind</h2>
<p>Try changing some of these values from their deafult and you'll see that the location will change.</p>
<p>If you refresh the page or send the link to a friend, the values will stay the same because they are all kept in the URL!</p>
<p>Look at the source to see how it is used</p>
    <form role="form">
    <div class="form-group">
        <label for="greeting">
            Greeting
        </label>
        <input class="form-control" type="text" ng-model="greeting" name="greeting"></input>
    </div>
    <div class="form-group">
        <label for="num">
            Some number
        </label>
        <input class="form-control" type="number" ng-model="num" name="num"></input>
    </div>
    <div class="form-group">
        <label for="lst">
            Some list member within an object
        </label>
        <input class="form-control" type="text" ng-model="some_obj.list[0].val" name="lst"></input>
    </div>
    </form>

</div>
</div>
</div>
</body>
</html>
